body {
    background: #04a1bf;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  
  .intro {
    margin: 30px 0px;
    font-weight: bold;
  }
  
  h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  p {
    font-weight: 600;
  }
  
  #first {
    margin-top: 10px;
    color: #ffcd5d;
  }
  
  #second {
    color: #51df70;
  }
  
  #third {
    color: #025f70;
    margin-bottom: 30px;
  }
  
  #enter {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #04a1bf;
    background-color: #025f70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;
  }